.primary {
  button {
    background-color: #F6C243;
    border-radius: 6px;
    border: 1px solid #F6C243;
    box-shadow: unset;

    span {
      color: black;
    }
  }
  button:hover {
    background-color: #f4c758f0 !important;
    border: 1px solid #f4c758f0 !important;
  }
  button:disabled {
    span {
      color: #ccc;
    }
  }
}
