.primary {
  button {
    background-color: #9f51cf;
    border-radius: 6px;
    border: 1px solid #825c9a;

    span {
      color: white;
    }
  }
  button:hover {
    background-color: #a96bd0 !important;
    border: 1px solid #825c9a !important;
  }
  button:disabled {
    span {
      color: #ccc;
    }
  }
}
