.checkinclock{
    display: flex;
    gap: 18px;
    flex-direction: column;
    align-items: center;
    .checkinbtn{
        display: flex;
        gap: 30px;
        .undefined{
            width: 130px !important;
        }
        button{
            padding: 18px 0px;
            font-size: 15px;
        }
    }
    .tablecalendar{
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
}