$primaryColor: white;
$secondaryColor: #c1cfa1;

$sidemenuBg: $primaryColor;
$sidemenubuttonBg: #e8e4e4;
$sidemenubuttonColor: rgb(70, 70, 70);

$headerBg: white;
$headerColor:black;

$mainlayoutBg: white;
$mainlayoutColor: white;
$mainlayoutBorder:white;


