$primaryColor: #ede8dc;
$secondaryColor: #c1cfa1;

$sidemenuBg: $primaryColor;
$sidemenubuttonBg: $secondaryColor;
$sidemenubuttonColor: black;

$headerBg: $primaryColor;
$headerColor:black;

$mainlayoutBg: #ccc;
$mainlayoutColor: #ccc;
$mainlayoutBorder:#ccc;


