$primaryColor: #FDF9EA;
$secondaryColor: #F6C243;

$sidemenuBg: $primaryColor;
$sidemenubuttonBg: #f6c243d1;
$sidemenubuttonColor: rgb(70, 70, 70);

$headerBg: white;
$headerColor:black;

$mainlayoutBg: white;
$mainlayoutColor: white;
$mainlayoutBorder:white;


