.datepicker-container {
  margin-bottom: 1rem;
  display: block;
  align-items: unset;
  .label {
    display: block;
    margin-bottom: 0.5rem;
    margin-right: 0px;
    font-weight: bold;
    width: auto;
  }
}
