.clockmenu{
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 15px 0px;
    border-radius: 10px;
    width: 300px;
    justify-content: center;
    display: flex
    // background-color: #ccc;
}
.clockmenu div{
    margin: 10px 0px
}