@import "./styles//main.scss";

.ant-layout {
  background: #fff;
}
.ant-layout-sider {
  background-color: $sidemenuBg !important;
  .ant-menu-dark {
    background-color: $sidemenuBg !important;
  }
  .ant-layout-sider-trigger {
    background-color: $sidemenubuttonBg !important;
  }
  .ant-menu-item-selected {
    background-color: $sidemenubuttonBg !important;
    color: $sidemenubuttonColor;
  }
  .anticon {
    color: $sidemenubuttonColor;
  }
}
